<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <style>
        .navbar{
            display: flex;
            justify-content: center;

        }

        .navbar a {
            width: 100%;
            height: 40px;
            border-radius: 40px;
            padding: 10px 20px;
            font-size: 1.2em;
            border-radius: 5px;
            cursor: pointer;
            --c: black;

            color: black;
            background: transparent;
            border-color: black;
            transition: 0.5s;
            margin-left: 0px;
        }

        .navbar a:hover {
            --_p: 100%;
            padding: 12px 36px;
            border-radius: 50px;
            border: 2px solid rgba(0,0,0,0.5);
            backdrop-filter: blur(15px);
            background: white;
            color: Black;
            font-size: 18px;
            font-family: inherit;
        }
    </style>

    <div class="navbar">
        <span sec:authorize="isAnonymous()">
            <a th:href="@{/login}">Login</a>
        </span>
        <span sec:authorize="isAnonymous()">
            <a th:href="@{/regisztral}">Regisztrál</a>
        </span>
        <span sec:authorize="isAuthenticated()">
            <a th:href="@{/home}">Home</a>
            <a th:href="@{/logout}">Logout</a>
        </span>
        <span sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/admin/home}">Admin</a>
        </span>
    </div>

    <div sec:authorize="isAuthenticated()">
        <h3>Welcome <span sec:authentication="principal.username">User</span></h3>
    </div>
</div>
